*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(65, 164, 240);
    height: 85px;
    padding-top: 10px;
    
}
.logo{
    width: 200px;
    padding: 5px;
    
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline;
    padding: 10px 20px;
    
}
nav ul li input{
    border: 2px solid rgb(233, 218, 218);
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
    color: rgb(31, 25, 25);
    font-weight: bold;
    width: 450px;
}
nav ul li input:hover{
    color: rgb(34, 91, 137);
    transition: 0.3s;
}
nav ul li a{
    border: 2px solid rgb(233, 218, 218);
    padding: 3px 4px 3px 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(34, 91, 137);
    transition: 0.3s;
}
.container2 img{
    width: 100%;
    height: 550px;
    padding-bottom: 20px;
}
.cards{
    background-image: url(images/pink-bg-color.png);
    width: 100%;
    height: 600px;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}
.cards .card1 img{
    height: 200px;
    margin-top: 50px;
    border-radius: 10px;
}
.cards .card2 img{
    height: 200px;
    margin-top: 50px;
    border-radius: 10px;
}
.cards .card3 img{
    height: 200px;
    margin-top: 50px;
    border-radius: 10px;
}
.cards .card4 img{
    height: 200px;
    margin-top: 50px;
    border-radius: 10px;
}
.cards .card5 img{
    height: 200px;
    margin-top: 50px;
    border-radius: 10px;
}
.cards .card6 img{
    height: 200px;
    margin-top: 50px;
    border-radius: 10px;
}
.cards p{
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
}
.cards button{
    border: 2px solid rgb(233, 218, 218);
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
    color: rgb(31, 25, 25);
    font-weight: bold;
}
.cards button:hover{
    color: rgb(34, 91, 137);
    transition: 0.3s;
}
.container4 img{
    width: 100%;
    height: 500px;
    padding-top: 50px;
}
footer{
    background-color: rgb(65, 164, 240);
    height: 25px;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    font-size: 15px;
    font-weight: bold;
    font-style: oblique;
}
.navimgs{
    background-color: rgb(216, 242, 233);
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.navimgs img{
    height: 70px;
    background-color: white;
}